/*Style sheet included in nav.php*/
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    background-image: linear-gradient(to bottom right, #f3fff1d8, #73f5864a );
}

h2 {
    position: fixed;
}

nav#nav {
    width: 100%;
    height: auto;
    float: right;
    background: #78ff7f9e;
}

ul.nav {
    list-style-type: none;
    margin: unset;
}

.nav > li {
    float: right;
}

.nav > li a {
    display: list-item;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 1.5em;
}

.nav > li a:hover {
    background-color:  #01ff56;
}

form[id="user-reg"] {
    border-radius: 6px;
    float: left;
    position: relative;
    top: 20%;
    width: fit-content;
    /* margin-right: 100%; */
    margin-left: 0.5cm; 
    padding: 25;
    font-size: 1.1em;
    background-image: linear-gradient(
177deg
, #00ff0d, #9bff8894);
}

form > h4 {
    text-align: center;
    font-size: 1.5em;
}

form > h2 {
    margin-top: 5mm;
    text-align: center;
    font-size: 2.5em;
    overflow: auto;
}

form.transaction-form {
    display: block;
    overflow: auto;
    border-radius: 6px;
    /* float: left; */
    position: relative;
    top: 11%;
    left: 50;
    width: fit-content;
    /* margin-right: unset; */
    padding: 25;
    font-size: 1.1em;
    background-image: linear-gradient( 
177deg
 , #00ff0d, #9bff8894);
}


label {
    font-size: 1.1em;
    color: rgb(0, 0, 0);
}

input, select {
    width: 10cm;
    padding: 12px 20px;
    margin: 10px 0;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.781);
    box-sizing: border-box;
    background-color: #ffffff;
}

input[type=submit] {
    color: #000000;
    font-size: large;
    padding: 14px 20px;
    margin-top: 25px;
    /* margin: 8px; */
    border: 5px;
    border-color: #16ff164d;
    border-radius: 12px;
    border-width: medium;
    cursor: pointer;
    background-image: linear-gradient(
359deg
, #ffffff, #a4ffa77a);
}

input[type=radio] {
    display: block;
    margin: unset;
    width: 50%;
    position: relative;
    top: -16;
}


input[type=submit]:hover {
    background-color:#01ff56;
}

div#flash{
    display: block;
    width: 450;
    /* float: left; */
    text-align: center;
    font-size: 1.2em;
    /* margin: 8; */
    position: relative;
    padding-top: 40;
}

div#message {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding: 10;
}

div#invalid-result {
    position: relative;
    top: 90%;
    left: 8%;
}

div#invalid-result > h2 {
    color: red;
}

h3 {
    font-size: 1.5em;
    color: inherit;
}

div.dashboard-container {
    position: fixed;
    top: 20%;
    left: 85%;
    margin: 20;
    border-radius: 15px;
    background-color: #a3ffb0c2;
}

ul#dashboard {
    list-style-type: none;
    padding: unset;
    
}

ul#dashboard > li {
    text-align: center;
    padding: 20px;
}

ul#dashboard > li a {
    display: list-item;
    color: #000000;
    text-decoration: none;
    padding: 5px;
    font-size: large;
}

ul#dashboard > li a:hover {
    background-color: #00ff22;
    border-radius: 12px;
}

.account-information {
    width: fit-content;
    height: fit-content;
    padding: 25px;
    position: absolute;
    text-align: center;
    margin: 20;
    top: 75;
    left: 500;
    background: #04ff006e;
    border-radius: 25px;
}

.transaction-information {
    height: fit-content;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
}

.pagination-div {
    margin: auto;
    width: 50%;
    padding-top: 20px;
}

.pagination-div a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 20px 15px;
}

.pagination-div li {
    float: left;
}

ul.pagination {
    list-style: none;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



table {
    width: max-content;
    height: fit-content;
    border-style: solid;
}

thead {
    background-color: #63e975d7;
}

th {
    padding: 4mm;
    border-bottom-style: groove;
}

td {
    padding: 3mm;
    text-align: center;
}

td.data-row {
    border-bottom-style: solid;
    border-color: #000000;
}


tfoot {
    border-top-style: dotted;
    border-top-color: #000000;
    background-color: rgba(76, 255, 41, 0.712);
}

#text {
    color:  black;
    font-family: inherit;
}
