/*Style sheet included in nav.php*/
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    background-image: linear-gradient(to bottom left, #ffffffe7, #a2caffd8 );
}

ul[class="nav"] {
    list-style-type: none;
    margin: 1.5em;
    margin-left: 77%;
    padding: 5px;
    overflow: auto;
    background-color:  transparent;
}

.nav > li {
    float: right;
}

.nav > li a {
    display: list-item;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 1.5em;
}

.nav > li a:hover {
    background-color:  #45a29e;
}

form[class="user-reg"] {
    float: left;
    position: relative;
    margin-right: 100%;
    padding: 25;
    font-size: 0.5em;
}

form > h4 {
    text-align: center;
    font-size: 1.5em;
}

form > h2 {
    margin-top: 5mm;
    text-align: center;
    font-size: 2.5em;
    overflow: auto;
}

label {
    font-size: 2.3em;
    color: rgb(0, 0, 0);
}

input, select {
    width: 10cm;
    padding: 12px 20px;
    margin: 10px 0;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.781);
    border-radius: 16px;
    box-sizing: border-box;
    background-color: #ffffff;
}

input[type=submit] {
    width: auto;
    background-color: white transparent;
    color: #000000;
    font-size: large;
    padding: 14px 20px;
    margin-top: 25px;
   /* margin: 8px;*/
    border: 5px;
    border-color: #3c8884;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:#45a29d8a;
}

h3 {
    font-size: 1.5em;
    color: inherit;
}

#text {
    color:  black;
    font-family: inherit;
}
