/*font-family: 'Roboto', sans-serif;*/
html {
    scroll-behavior: smooth;
}

#nav-main {
    background-color: #231651;
    position: sticky;
    top: 0;
}

ul.nav {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

div#nav-list {
    display: flex;
    width: fit-content;
}

div#nav-user {
    width: fit-content;
    height: fit-content;
    float: right;
    position: relative;
    bottom: 70;
    right: 30;
}

div#nav-list > li {
    padding: 10px;
    margin-right: 20px;
    justify-self: flex-end;
}

div#nav-list a:hover {
    border: 2px #D57A66 solid;
    color: #D57A66;
}

div#nav-list a{
    text-decoration: none;
    text-align: center;
    justify-self: center;
    color: #FBFEF9;
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;
    padding: 5px;
}


div#image-slider {
    width: 1500px;
    height: 700px;
    overflow: hidden;
    margin: auto;
}

#image-slider .slides {
    margin: 0;
    padding: 0;
    display: block;
    width: 6000px;
    height: 700px;
}

#image-slider .image {
    width: 1500px;
    height: 700px;
    list-style-type: none;
    float: left;

}

#image-slider .image > img{
    width: 1500px;
    height: 700px;
    opacity: 0.5;
}

div#welcome-text {
    position: relative;
    bottom: 700px;
    left: 20px;    
    color: #231651;
    text-align: center;
    font-size: 1.2em;
    background-color: #D57A66;
    font-family: 'Courier New', Courier, monospace;
}

div#welcome-text a {
    text-decoration: none;
    color: #231651;
}

div#welcome-text a:hover {
    text-decoration: none;
    color: #FBFEF9;
}

h2#introduction-header {
    width: 40%;
    float: left;
    background-color: #D57A66;
    border-radius: 5px;
}

h2#login-header {
    width: 35%;
    float: right;
    background-color: #D57A66;
    border-radius: 5px;
}

div.form-container {
    width: fit-content;
    margin: 80px auto;
    display: none;
}

div.form-container > h3 {
    text-align: center;
    font-size: 1.5em;
}

form#user-registration h3 {
    font-size: xx-large;
    text-align: center;
}

form#user-registration {
    width: 600;
    height: auto;
    margin: 0px 25px;
    padding-bottom: 25px;
    padding: 10px;
    border: black solid 3px;
    border-radius: 5px;
    background-color: #c9c9c9bb;
    box-shadow: 20px 20px 10px grey;
}

form#user-registration label{
    font-size: 1.2em;
}

form#user-registration *{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

form#user-registration input[type=submit]{
    margin-top: 15px;
    background-color: #231651;
    color: #FBFEF9;
    cursor: pointer;
}

form#user-registration input[type=submit]:hover{
    background-color: #FBFEF9;
    color: #231651;
}

div.side-bar {
    position: fixed;
    top: 10;
    height: 100%;
}

div.dashboard-container {
    width: fit-content;
    height: 100%;
    float: left;
    background-image: linear-gradient(to bottom, #231651, #391bb7);
    z-index: 5;
    position: sticky;
    top: 0;
}

div.dashboard-container ul {
    font-size: 1.5em;
    list-style: none;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
}

div.dashboard-container ul > *{
    padding: 10px;
    text-align: center;
}

div.dashboard-container ul a{
    color: #FBFEF9;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    padding: 15px;
}

div.dashboard-container ul a:hover{
    color: #D57A66;
    border: 2px solid;
}

div.dashboard-container h3 {
    color: #FBFEF9;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: solid #FBFEF9 1mm;
    font-size: 1.5em;
    padding: 20px;
    margin-top: unset;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

button#side-bar-button {
    background-color: #FBFEF9;
    color: #231651;
    width: 100%;
}

button#side-bar-button:hover {
    background-color: #231651;
    color: #FBFEF9;
}

div#side-icon-container {
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 8px;
    position: sticky;
    left: 200;
}

form#profile-form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #c5c4c4b2;
    padding: 5px 15px;
    border-radius: 5px;
    width: 600;
}

form#profile-form > * {
    padding: 10px;
    border-radius: 10px;
}

form#profile-form > label {
    font-size: 1.1em;
}

form#profile-form > input[type="submit"] {
    margin: 15px 0px;
}

form#create-account-form , form#search-account-form, form#deposit-form, form#withdraw-form, form#transfer-form, form#ext-transfer-form, form#loan-form, form#close-account-form, form#admin-search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600;
    height: fit-content;
    margin: auto;
    padding: 2%;
    background-color: #c5c4c4b2;
    border-radius: 10px;
}

form#create-account-form > *, div.hide > *, form#search-account-form > *, form#deposit-form > *, form#withdraw-form > *, form#transfer-form > *, form#ext-transfer-form > *, form#loan-form > *, form#close-account-form > *, form#admin-search-form > * {
    border-radius: 10px;
    padding: 10px;
}

form#transfer-form > div#account-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

form#transfer-form > div#funds {
    display: flex;
    justify-content: center;
    width: 100%;

}

form#transfer-form > div#account-options > div > *, form#transfer-form > div#funds > *  {
    padding: 10px;
    border-radius: 10px;
}

form#create-account-form > input:read-only, form#searched-ext-transfer-form > *:read-only, form#profile-form > *:read-only, form#loan-confirmation-form div > *:read-only, form#loan-confirmation-form > *:read-only {
    cursor: not-allowed;
    font-style: oblique;
}

form#create-account-form > input[type=submit], form#search-account-form > input[type=submit], form#deposit-form > input[type=submit], form#withdraw-form > input[type=submit], form#transfer-form > input[type=submit], form#ext-transfer-form > input[type=submit], form#loan-form > input[type=submit], form#close-account-form > input[type=submit], form#admin-search-form > input[type=submit] {
    margin: 15px 0px;
}

form#create-account-form > input[type=submit]:hover, form#search-account-form > input[type=submit]:hover, form#deposit-form > input[type=submit]:hover, form#withdraw-form > input[type=submit]:hover, form#profile-form > input[type="submit"]:hover, form#transfer-form > input[type=submit]:hover, form#ext-transfer-form > input[type=submit]:hover, form#loan-form > input[type=submit]:hover, form#close-account-form > input[type=submit]:hover, form#admin-search-form > input[type=submit]:hover {
    background-color: #D57A66;
    cursor: pointer;
}

table#account-table {
    margin: auto;
    border: #231651 2px solid;
    width: 100%;
    background-color: #d57a66a9;
}

table#account-table tr > td ,table#account-table tr > th {
    padding: 5px 25px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    border-right: black solid 1px;
}

table#account-table tr > th {
    border-bottom: #D57A66 2px ridge;
    font-size: large;
}

table#account-table button {
    border-radius: 10px;
    font-size: larger;
}

table#account-table button:hover {
    background-color: #231651;
    color: #FBFEF9;
    cursor: pointer;
}

form#filter-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    background-color: #bec0bd;
    border-radius: 4px;
}

form#filter-form > *{
    padding: 10px;
    margin: 10px
}

form#filter-form > label{
    font-size: 1.3em;
}

form#filter-form > input, form#filter-form > select {
    border-radius: 20px;
}

form#filter-form > input[type="submit"] {
    color: #ffffff;
    background-color: #231651;
    padding: 10px 20px;
}

form#filter-form > input[type="submit"]:hover {
    color: #231651;
    background-color: #ffffff;
    cursor: pointer;
}
div.transaction-information {
    width: 80%;
    margin: auto;
}

div#account-information {
    text-align: center;
    font-size: large;
    padding-bottom: 15px;
    border-bottom: black 2px solid;
}

div.transaction-table {
    background-color: #d57a66a9;
    padding: 20px;
    margin: 15px auto;
}

div.transaction-table h2 {
    width: fit-content;
    margin: 15px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.transaction-table > table {
    width: 100%;
}

div.transaction-table > table > thead > tr > th{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-bottom: black 3px double;
    border-right: black 1px solid;
}

div.transaction-table > table tbody > tr > td{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    border-right: black 1px solid;
}

div.transaction-table > table > thead > tr > th:last-of-type, div#transaction-table > table tbody > tr > td:last-of-type{
    border-right: unset;
}

td#total {
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
    font-family: 'Kanit', sans-serif;
    border-top: black 5px groove;
}

div.pagination-div {
    margin: auto;
    width: fit-content;
}

ul.pagination {
    list-style-type: none;
    font-size: 1.2em;
    text-align: center; 
}

ul.pagination a {
    text-decoration: none;
}

form#deposit-searched-form, form#withdraw-searched-form, form#searched-ext-transfer-form, form#loan-confirmation-form {
    padding: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #bec0bd96;
    border-radius: 10px;
}

form#loan-confirmation-form div {
    display: flex;
    justify-content: space-between;
}

form#deposit-searched-form > label[for="acc_num"], form#withdraw-searched-form > label[for="acc_num"]{
    align-self: center;
    font-size: 1.5em;
    border-bottom: #231651 1mm solid;
    border-radius: unset;
}

form#deposit-searched-form > *, form#deposit-searched-form > div > *, form#withdraw-searched-form > *, form#withdraw-searched-form > div > *, form#searched-ext-transfer-form > *, form#loan-confirmation-form > *, form#loan-confirmation-form div > * {
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
}

form#deposit-searched-form > input[type=submit], form#withdraw-searched-form >input[type=submit], form#searched-ext-transfer-form > input[type=submit], form#loan-confirmation-form > input[type=submit] {
    margin-top: 15px;
}

form#deposit-searched-form > input[type="submit"]:hover, form#withdraw-searched-form >input[type=submit]:hover, form#searched-ext-transfer-form > input[type=submit]:hover, form#loan-confirmation-form > input[type=submit]:hover {
    background-color: #231651;
    color: #bec0bd;
    cursor: pointer;
}

div.search-results {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div.search-results > div.user-info-container {
    width: inherit;
    margin: auto;
}

div.search-results h1 {
    width: fit-content;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.user-account-info {
    margin-bottom: 5rem;
}

div.user-account-info > a {
    width: 100%;
    padding: 15px;
    margin: 20px;
    text-decoration: none;
    font-style: normal;
    background-color: #D57A66;
    color: #231651;
    border-bottom: 1px black solid;
    border-radius: 0px 25px 25px 0px;
    z-index: 1;
}

div.user-account-info > a:hover {
    transform: scale(1.1, 1.1);
    background-color: #231651;
    color: #bec0bd;
    z-index: 3;
    box-shadow: 0px 8px 69px 7px rgba(0,0,0,0.84);;
}

div.user-info , div.user-account-info {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    border-bottom: black 2px solid;
    margin: inherit;
}

div.user-info h2 , div.user-account-info h3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span.info-label {
    font-weight: bold;

}

span.info-items {
    font-family: unset;
    font-family: 'EB Garamond', serif;
}

div.button-container {
    width: 50%;
    margin: auto;
}

div.button-container form#buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 10px auto;
}

div.button-container form#buttons > * {
    padding: 20px;
    font-size: larger;
    border-radius: 15px;
}

div.button-container form#buttons input[type=submit]:hover {
    background-color: #231651;
    color: #bec0bd;
    cursor: pointer;
}